* {
	margin: 0;
	padding: 0;
}

body {
	border-top-width: 30px;
	border-top-style: solid;
	border-top-color: #FFF;
	font: 11px "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans",
		sans-serif;
}

form {
	margin-left: 8px;
	padding: 16px 16px 40px 16px;
	font-weight: normal;
	-moz-border-radius: 11px;
	-khtml-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 5px;
	background: #fff;
	border: 1px solid #e5e5e5;
	-moz-box-shadow: rgba(200, 200, 200, 1) 0 4px 18px;
	-webkit-box-shadow: rgba(200, 200, 200, 1) 0 4px 18px;
	-khtml-box-shadow: rgba(200, 200, 200, 1) 0 4px 18px;
	box-shadow: rgba(200, 200, 200, 1) 0 4px 18px;
}

form.forgetmenot {
	font-weight: normal;
	float: left;
	margin-bottom: 0;
}

.buttoncss {
	background-color: #03F;
	color: #FFF;
	font-family: "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans",
		sans-serif;
	padding: 3px 10px;
	border: none;
	font-size: 12px;
	border-width: 1px;
	border-style: solid;
	border-radius: 11px;
	cursor: pointer;
	text-decoration: none;
	margin-top: -3px;
}

#login form p {
	margin-bottom: 0;
}

label {
	color: #777;
	font-size: 13px;
}

form .forgetmenot label {
	font-size: 11px;
	line-height: 19px;
}

.submit {
	float: right;
}

form p {
	margin-bottom: 24px;
}

h1 a {
	background: url(../images/logo.png) no-repeat top center;
	width: 326px;
	height: 67px;
	text-indent: -9999px;
	overflow: hidden;
	padding-bottom: 15px;
	display: block;
}

.acss {
	position: absolute;
	top: 7px;
	left: 18px;
	text-decoration: none;
	color: #333;
}

a:hover {
	color: #C06;
}

.logintop {
	width: 320px;
	margin: 7em auto;
}

.inputcss {
	color: #555;
	font-size: 24px;
	width: 97%;
	padding: 3px;
	margin-top: 2px;
	margin-right: 6px;
	margin-bottom: 16px;
	border: 1px solid #e5e5e5;
	background: #fbfbfb;
}

.version {
	float:left;
	text-algin: left;
}

.clear {
	clear: both;
}

.chkcss {
	color: #555;
}